@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Oswald:wght@300&family=Poppins:ital,wght@0,400;1,500&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

.icon {
    display: flex;
}

.bold {
    margin-top: 16px;
    font-size: 20px;
}

nav li {
    list-style: none;
    margin-right: 20px;
    padding: 0px 10px;
}

nav ul {
    display: flex;
}

.menu-icon {
    display: none;
}

.nav-section {
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.half-width {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-top: 100px;
    font-size: 20px;
    font-weight: 700;
    margin-left: 60px;
}

.link-button {
    text-decoration: none;
    background-color: rgb(181, 23, 181);
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
}

.logos {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid gainsboro;
    padding: 20px 20px;

}

.container {
    padding: 40px;
    width: 100%;
    margin-left: 60px;

}

.collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);



}

.section-title {

    text-align: center;
    padding: 60px;
}

.fa-star {
    color: gold;
}

.fa-star-half-stroke {
    color: gold;
}

.more {
    display: flex;
    justify-content: end;
    color: brown;
}

.featured {
    display: flex;
    gap: 60px;
    margin: 40px 60px;
}

footer {
    background-color: rgb(30, 30, 42);
    text-align: center;
    padding: 30px;
    color: white;
}

@media screen and (max-width:688px) {
    .half-width {
        grid-template-columns: repeat(1, 1fr);
        flex-direction: row-reverse;
    }

    .first-part {
        order: 2;
    }

    .menu-icon {
        display: block;
    }

    .icon {
        display: none;
    }




}